.main {
  margin-left:75px;
  margin-right:75px;
  margin-top:25px;
  position:relative;
  min-height: 100vh;
  padding-bottom:50px;
}

hr {
  border: 1px solid black;
}
footer {
    width:100%;
    padding-top:30px;
    margin-top:40px;
    margin-left:auto;
    text-align:center;
    margin-right:auto;
    position:absolute;
    bottom:20px;
}